<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.company.papang.impl.EsMapper">
<!-- 판매상품 -->
<!-- 단건조회  -->
	<select id="getItem" parameterType="ProductVO" resultType="ProductVO">
		SELECT *
		FROM PRODUCT
		WHERE pro_no = #{pro_no}
	</select>



<!-- 중고장터 -->
<!-- 단건조회  -->
	<select id="getUsed" parameterType="UsedVO" resultType="UsedVO">
		SELECT *
		FROM USED
		WHERE used_no = #{used_no}
	</select>
	
<!-- 전체조회  -->	
	<select id="getUsedList" resultType="UsedVO">
		SELECT * 
		FROM USED	
		<!-- 판매중조회.. 음 where 들어갈거없으면 그냥 하면되지않을까  -->	
		<if test="USED_CATEGORY == 'onSale'">
			WHERE used_category = #{used_category}
		</if>  
		ORDER BY used_no DESC 
	</select>
	
<!--  글등록    -->
	<insert id="insertUsed" parameterType="UsedVO">
		INSERT INTO USED (	
							used_no,
							mbr_id, 
							used_title, 
							used_date,
							used_category,
							used_loc,
							used_pic,
							used_price,
							used_content
							)
	 	            VALUES(
	 	            		seq_used_used_no.nextval,
	 	               		#{mbr_id},
	 	               		#{used_title},
	 	               		sysdate,
	 	               		#{used_category},
	 	               		#{used_loc},
	 	               		#{used_pic},
	 	               		#{used_price},
	 	               		#{used_content})
	</insert>
	

</mapper>
