<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.company.papang.impl.JyMapper">

	<!-- 공지 단건조회 -->
	<select id="getNq" parameterType="co.company.papang.vo.NqVO"
		resultType="co.company.papang.vo.NqVO">
		SELECT * FROM nq
		WHERE nq_no = #{nq_no}
	</select>



	<!-- 공지등록 -->
	<insert id="insertNq" parameterType="co.company.papang.vo.NqVO">
		INSERT INTO NQ (
		NQ_NO,
		AD_ID,
		NQ_TITLE,
		NQ_CONTENT,
		NQ_CATEGORY,
		NQ_FILE,
		NQ_DATE
		)
		VALUES(
		SEQ_NQ_nq_no.nextval,
		'ADMIN',
		#{nq_title},
		#{nq_content},
		#{nq_category},
		#{nq_file},
		sysdate)

	</insert>

	<!-- 공지 전체조회 -->
	<select id="getListNq" resultType="co.company.papang.vo.NqVO">
		SELECT *
		FROM NQ
		<where>
			<if test="nq_category != null and nq_category !=''">
				nq_category = #{nq_category}
			</if>
		</where>
		ORDER BY nq_no desc
	</select>

	<!-- 공지 수정 -->
	<update id="updateNq" parameterType="co.company.papang.vo.NqVO">
		update nq set
		nq_title =
		#{nq_title},
		nq_content = #{nq_content},
		nq_category = #{nq_category},
		nq_file = #{nq_file}
		where nq_no = #{nq_no}
	</update>

	<!--공지 삭제 -->
	<delete id="deleteNq" parameterType="co.company.papang.vo.NqVO">
		delete from nq
		where nq_no =
		#{nq_no}
	</delete>

	<!-- 회원 전체조회 -->
	<select id="getListMember"
		resultType="co.company.papang.vo.MemberVO">
		SELECT mbr_id, mbr_author, mbr_phone, mbr_status, mbr_name, mbr_nick, NVL((select count(*) from report_info group by mbr_id),0) as rcnt
		from member
		<where>
			<if test="mbr_author != null and mbr_author !=''">
				mbr_author = #{mbr_author}
			</if>
		</where>
		ORDER BY mbr_id
	</select>
	
	<!-- 맴버 권한 수정 -->
	<update id="updateMember" parameterType="co.company.papang.vo.MemberVO">
		update member set
		mbr_author =
		#{mbr_author}
		where mbr_id = #{mbr_id}
	</update>
	
	<!-- 맴버 탈퇴 기능 -->
	<update id="deleteMember" parameterType="co.company.papang.vo.MemberVO">
		update member set
		mbr_status =
		'탈퇴'
		where mbr_id = #{mbr_id}
	</update>
	
	
	<!-- 시터 등록 -->
	<insert id="insertSitter" parameterType="co.company.papang.vo.SitterVO">
		INSERT INTO SITTER(SIT_MBR_ID,SIT_AGE) VALUES(#{sit_mbr_id},(select NVL(TRUNC(MONTHS_BETWEEN(SYSDATE, mbr_birth)/12), 0) AS AGE from member where mbr_id=#{sit_mbr_id}))
	</insert>
	
	<!-- 시터 삭제 -->
	<delete id="deleteSitter" parameterType="co.company.papang.vo.SitterVO">
		delete from SITTER
		where sit_mbr_id =
		#{sit_mbr_id}
	</delete>
	
	<!-- 시터 단건조회 -->
	<select id="getSitter" parameterType="co.company.papang.vo.SitterVO"
		resultType="co.company.papang.vo.SitterVO">
		SELECT * FROM SITTER
		WHERE sit_mbr_id = #{sit_mbr_id}
	</select>
	
	<!-- 시터 정보 수정 -->
	<update id="updateSitter" parameterType="co.company.papang.vo.SitterVO">
		update sitter set
		sit_payday = #{sit_payday},
		sit_off =  #{sit_off},
		sit_pay =  #{sit_pay},
		sit_loc = #{sit_loc},
		sit_note = #{sit_note}
		<if test="sit_pic != null and sit_pic !=''">
		, sit_pic = #{sit_pic}
		</if>
		WHERE sit_mbr_id = #{sit_mbr_id}
	</update>


</mapper>
