<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.company.papang.impl.SaMapper">

<!-- #################################################################1.활동################################################################# -->
<!-- (1).요리 --> 




<!-- (2).놀이  -->
<!-- 놀이 전체조회, 놀이검색 --> 
<select id="getPlayList" resultType="PlayVO">
	SELECT PLAY_NO, PLAY_TITLE, PLAY_CATEGORY, PLAY_HIT,PLAY_CONTENT 
	FROM PLAY
	<where>
			<if test="play_category != null and play_category !=''">
				PLAY_CATEGORY = #{play_category}
			</if>
	</where>
</select>


<!-- 놀이 단건조회 -->
<select id="getPlay" resultType="PlayVO">
		SELECT PLAY_NO, PLAY_TITLE, PLAY_CATEGORY,PLAY_CONTENT
		FROM PLAY
		WHERE PLAY_NO=#{play_no}
</select>


<!--후기  전체 조회 -->
  	 <select id="getActComm" resultType="Act_comVO" parameterType="act_comVO">
		SELECT ROWNUM,A.*
		FROM ACT_COM A
		WHERE A.AC_CATEGORY='놀이' AND A.PC_NO=#{pc_no}
		<![CDATA[AND ROWNUM <= 5]]>
	</select>   

<!-- 후기 : 평점조회 -->
 <select id="getStar" resultType="Act_comVO" parameterType="act_comVO">
		SELECT ROUND(AVG(AC_RATE)) AS ROUNDRATE FROM ACT_COM WHERE AC_CATEGORY='놀이' AND PC_NO=#{pc_no}
	</select>   


<!-- 후기 : 후기등록 -->

<insert id="insertActComm" parameterType="act_comVO">
INSERT INTO ACT_COM
(MBR_ID,AC_NO,AC_CONTENT,AC_RATE,AC_CATEGORY,PC_NO,AC_PIC) VALUES 
(#{mbr_id},SEQ_ACT_COM_AC_NO.NEXTVAL,#{ac_content},#{ac_rate},'놀이',#{pc_no},#{ac_pic})

</insert>

<!-- #################################################################2.예방접종 #################################################################-->

<!--  사원등록    -->
	<insert id="insertPreven" parameterType="preventionVO">
	<!-- 	INSERT INTO EMPLOYEES (	employee_id, 
								first_name, 
								last_name,
								email,
								hire_date,
								job_id
								)
	 	                VALUES(
	 	               			#{employeeId},
	 	               			#{firstName},
	 	               			#{lastName},
	 	               			#{email},
	 	               			#{hireDate},
	 	               			#{jobId}) -->
	</insert>

	<select id="selectChild" resultType="ChildVO">
		SELECT *
		FROM CHILD
		<where>
			<if test="mbr_id != null and mbr_id !=''">
				mbr_id = #{mbr_id}
			</if>
		</where>
	</select>
	
	<select id="selectPrevent" resultType="PreventionVO">
		SELECT *
		FROM PREVENT
		<where>
			<if test="mbr_id != null and mbr_id !=''">
				mbr_id = #{mbr_id}
			</if>
		</where>
	</select>

</mapper>
