<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.company.papang.impl.SaMapper">

<!-- #################################################################1.활동################################################################# -->
<!-- (1).요리 --> 




<!-- (2).놀이  -->
<!-- 놀이 전체조회 --> 
<select id="getPlayList" resultType="PlayVO">
	SELECT PLAY_NO, PLAY_TITLE, PLAY_CATEGORY, PLAY_HIT,PLAY_CONTENT 
	FROM PLAY
	<where>
			<if test="play_category != null and play_category !=''">
				PLAY_CATEGORY = #{play_category}
			</if>
	</where>
</select>

<!-- 놀이 단건조회 -->

<select id="getPlay" resultType="PlayVO">
		SELECT PLAY_NO, PLAY_TITLE, PLAY_CATEGORY,PLAY_CONTENT
		FROM PLAY
		WHERE PLAY_NO=#{play_no}
</select>


<!--놀이후기 전체 조회 -->
  	 <select id="getActComm" resultType="Act_comVO">
		SELECT *
		FROM ACT_COM
		where AC_CATEGORY='놀이' AND PC_NO=10
	</select>   




<!-- #################################################################2.예방접종 #################################################################-->

<!--  사원등록    -->
	<insert id="insertPreven" parameterType="preventionVO">
	<!-- 	INSERT INTO EMPLOYEES (	employee_id, 
								first_name, 
								last_name,
								email,
								hire_date,
								job_id
								)
	 	                VALUES(
	 	               			#{employeeId},
	 	               			#{firstName},
	 	               			#{lastName},
	 	               			#{email},
	 	               			#{hireDate},
	 	               			#{jobId}) -->
	</insert>

	<select id="selectChild" resultType="ChildVO">
		SELECT *
		FROM CHILD
		<where>
			<if test="mbr_id != null and mbr_id !=''">
				mbr_id = #{mbr_id}
			</if>
		</where>
	</select>
	
	<select id="selectPrevent" resultType="PreventionVO">
		SELECT *
		FROM PREVENT
		<where>
			<if test="mbr_id != null and mbr_id !=''">
				mbr_id = #{mbr_id}
			</if>
		</where>
	</select>

</mapper>
