<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.company.papang.impl.SmMapper">
	<!-- ##################################커뮤니티 글########################################### -->
	<!-- 단건조회 -->
	<select id="getCommunity" parameterType="communityVO"
		resultType="communityVO">
		SELECT *
		FROM COMMUNITY
		WHERE COM_NO = #{com_no}
	</select>

	<!-- 전체조회 -->
	<select id="getCommunityList" resultType="communityVO" >
		SELECT ROWNUM, C.*
		FROM COMMUNITY C
		<where>
			<![CDATA[
				ROWNUM <= 100
			]]>
			<if test="com_category != null and com_category != ''">
				and com_category = #{com_category}
			</if>
		</where>
		ORDER BY C.COM_NO DESC
	</select>

	<!-- 등록 -->
	<insert id="communityFormInsert" parameterType="communityVO">
		INSERT INTO COMMUNITY (
		MBR_ID,
		COM_CATEGORY,
		COM_TITLE,
		COM_CONTENT
		)
		VALUES(
		#{mbr_id},
		#{com_category},
		#{com_title},
		#{com_content}
		)
	</insert>
	
	<!-- 수정 -->
	<update id="communityFormUpdate" parameterType="communityVO">
		UPDATE COMMUNITY SET 
		COM_CATEGORY = #{com_category}, 
		COM_TITLE = #{com_title},
		COM_CONTENT = #{com_content}
		WHERE COM_NO = #{com_no}
	</update>
	
	<!-- 삭제 -->
	<delete id="communityFormDelete" parameterType="communityVO">
		DELETE COMMUNITY WHERE COM_NO = #{com_no} 
	</delete>
	
	<!-- 조회수 증가 -->
	<update id="hitPlus" parameterType="communityVO">
		UPDATE COMMUNITY SET
		COM_HIT = COM_HIT + 1
		WHERE COM_NO = #{com_no}
	</update>
	
	
	<!-- ##################################커뮤니티 댓글########################################### -->
	<!-- 커뮤니티 댓글 전체조회 -->
	<select id="getCommunityComList" resultType="community_comVO" parameterType="community_comVO">
		SELECT ROWNUM, C.*
		FROM COMMUNITY_COM C
		<where>
			<![CDATA[
				ROWNUM <= 100
			]]>
				and C.COM_NO = #{com_no}
				and C.CC_CATEGORY = '커뮤니티'
		</where>
		ORDER BY C.CC_NO DESC
	</select>
	
	<!-- 커뮤니티 댓글 등록 -->
	<insert id="communityCommentInsert" parameterType="community_comVO">
		<selectKey order="BEFORE" keyProperty="cc_no"
			resultType="string">
			select SEQ_COMMUNITY_COM_CC_NO.nextval
			FROM DUAL
		</selectKey>
		INSERT INTO COMMUNITY_COM (
	    CC_NO,
    	MBR_ID,
    	CC_CONTENT,
    	COM_NO,
    	CC_CATEGORY
		)
		VALUES(
		#{cc_no},
		#{mbr_id},
		#{cc_content},
		#{com_no},
		'커뮤니티'
		)
	</insert>

	<!-- ##################################시터########################################### -->
	
	<!-- 전체조회 -->
	<select id="getSitterList" resultType="SitterVOChk">
		SELECT ROWNUM, S.SIT_MBR_ID, S.SIT_PAYDAY, S.SIT_OFF, S.SIT_LOC, REGEXP_REPLACE(REVERSE(REGEXP_REPLACE( REVERSE(TO_CHAR(S.SIT_PAY)), '([0-9]{3})','\1,')), '^,','') AS SIT_PAY, S.SIT_AGE, S.SIT_NOTE, S.SIT_PIC
		FROM SITTER S
		<where>
			<![CDATA[
				ROWNUM <= 100
			]]>
			<if test="off_days != null and off_days != ''">
				AND NOT REGEXP_LIKE(S.SIT_OFF,#{off_days})
			</if>
			
		</where>
	</select>
	
	<!-- 단건조회 -->
	<select id="getSitter" resultType="SitterVOChk">
		SELECT ROWNUM, S.SIT_MBR_ID, S.SIT_PAYDAY, replace(S.SIT_OFF, ' ', ', ') SIT_OFF, S.SIT_LOC, REGEXP_REPLACE(REVERSE(REGEXP_REPLACE( REVERSE(TO_CHAR(S.SIT_PAY)), '([0-9]{3})','\1,')), '^,','') AS SIT_PAY, S.SIT_AGE, S.SIT_NOTE, S.SIT_PIC
		FROM SITTER S
		where S.SIT_MBR_ID = #{sit_mbr_id}
	</select>
	
	<!-- ##################################아기########################################### -->
	
	<!-- 단건조회 -->
	<select id="getChildList" resultType="ChildVO">
		SELECT *
		FROM CHILD
		where mbr_id = #{mbr_id}
	</select>
</mapper>
