<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.company.papang.impl.YrMapper">

<!-- 수정 전  조회-->
	<select id="getMemberVO" parameterType="memberVO" resultType="memberVO">
		SELECT  
		     
	    MBR_ID,
	    MBR_PW,
	    MBR_NAME,
	    MBR_NICK,
	    MBR_BIRTH,
	    MBR_PHONE,
	    MBR_POST,
	    MBR_ADDR1,
	    MBR_ADDR2,
	    MBR_BANK,MBR_ACCOUNT,
	    MBR_AUTHOR,
	    MBR_DATE,
	    MBR_STATUS,
	    MBR_GENDER,
	    MBR_EMAIL
	    
	    FROM MEMBER
	     
		WHERE MBR_ID = #{mbr_id}
	</select>
	
<!-- 회원정보수정 -->
<select id="updateMemberVO" parameterType="memberVO" resultType="memberVO">
		UPDATE
		
		MEMBER
		
		SET
		
	    MBR_ACCOUNT= #{mbr_account}
	    
	    
		WHERE MBR_ID = #{mbr_id}
	</select>
	
	<!-- 회원탈퇴 -->
<select id="notjoinMemberVO" parameterType="memberVO" resultType="memberVO">
		UPDATE
		
		MEMBER
		
		SET
		
	    MBR_STATUS= #{mbr_status}
	    
	    
		WHERE MBR_ID = #{mbr_id}
	</select>
<!-- 내 게시물  -->	
	<select id="myboard_questionCommunityVO" parameterType="communityVO" resultType="communityVO">
		SELECT COM_NO,MBR_ID,COM_CATEGORY,COM_TITLE,COM_DATE,COM_HIT,COM_CONTENT
		  FROM COMMUNITY
		  WHERE MBR_ID = #{mbr_id}
	</select>
	
<!-- 전체조회  -->	
	<select id="getEmpList" resultType="emp">
		SELECT rownum id, e.* 
		  FROM employees e
		<where>  
		  <if test="departmentId != null">
		       department_id = #{departmentId}
		  </if>  
	      <if test="employeeId != null">
            and employee_id = #{employeeId}
          </if>  
          <if test="salary != null">
            <![CDATA[ and salary < #{salary} ]]>
          </if>    
          <if test="firstName != null">
            and upper(first_name) like '%' || upper(#{firstName}) || '%'
          </if> 
          <if test="employeeIds != null">
            and employee_id in  
                <foreach collection="employeeIds" item="id" 
                         open="(" close=")" separator=",">
                    #{id}
                </foreach>
          </if>      
        </where>	
		 ORDER BY first_name 
	</select>

<!--  사원등록    -->
	<insert id="insertEmp" parameterType="emp">
		INSERT INTO EMPLOYEES (	employee_id, 
								first_name, 
								last_name,
								email,
								hire_date,
								job_id
								)
	 	                VALUES(
	 	               			#{employeeId},
	 	               			#{firstName},
	 	               			#{lastName},
	 	               			#{email},
	 	               			#{hireDate},
	 	               			#{jobId})
	</insert>
	

</mapper>
