

.sizeDiv {
	padding: 4% 10% 2%;
}

th {
	text-align: center;
}

.tableTrTh {
	background-color: rgb(249, 196, 94);
}

.boardTagA {
	color: black;
}

.btnWrite {
 margin-right: 5%
}

.tableTh {
		text-align: center;
}

.pagination{
    display: flex;
    list-style: none;
    border-radius: .25rem;
    width: 100%;
    padding-inline-start: 40%;
}

.col-md-5{
	display: none;
}

.col-md-7{
	flex: none;
    max-width: 100%;
}

.paginate_button{
	height: 20%;
}

.page-item.active .page-link{
	background-color: rgb(249, 196, 94);
	border-color: #bbbbbb;
}

.page-link:hover, .page-link {
	color: black;
}

.pagination{
	margin-top: 1rem;
}

/* 카테고리 설렉트 */
.category {
	display: inline;
	float: right;
	width: 10%;
}

.next, .previous {
	width: 80px;
	text-align: center;
}
