@charset "UTF-8";

.author a {
	display: block;
}

.center_div {
	margin-top: 140px;
	min-height: 2500px;
}

.Bigtitle {
	color: rgb(249, 196, 94);
	font-size: 35px;
    font-weight: bold;
    margin: 20px 0 0 170px;
}

.regi_btn {
    margin-right: 11.5%;
    width: 90px;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
}

<!--
-->


/*리스트 번호 숨기기*/
ol, ul {
	list-style: none
}


/* 박스 글꼴 */
body, table, th, td, pre, input, select, textarea, button {
	font-size: 12px;
}

/*box style*/
.lst_recipe {
	margin-bottom: 56px;
	width: 110%;
	position: relative;
	left: -16px
}

.title_div{ height: 70px;
    background-color: #fff5d2;
    width: 59%;
    margin-left: 13.5em;
    display: inline-block;
}
.search_btn {
    background-color: rgb(249, 196, 94);
        width: 280px;
    height: 90px;
    margin: 13px 8px;
    border:none;
    color: rgb(64, 60, 60);
    font-size: 20px;
    font-weight: bold;
}
/*box 흰 배경*/
.lst_recipe>li {
	width: 282px;
    height: 440px;
	margin: 0 0 16px 16px;
	position: relative;
	border: 1px solid #e1e1e1;
	box-sizing: border-box;
	float: left;
	background-color: #fff
}


/* box 이미지 사이즈*/
.lst_recipe li .thmb img {
	width: 279px;
    height: 274px;
	display: block
}


.lst_recipe li .author {
	text-align: center;
	width: 100%;
	z-index: 5;
	display: block;
	margin-top: -40px;
	position: relative
}

.lst_recipe li .author img {
	width: 61px;
	height: 61px;
	border-radius: 50%;
	overflow: hidden;
	display: block;
	margin: 0 auto 5px
}



.lst_recipe .option {
	width: 280px;
	position: absolute;
	bottom: 0;
	height: 27px;
	border-top: 1px solid #e1e1e1;
	text-align: center;
}

.lst_recipe .option>div {
	width: 93px;
	height: 100%;
	float: left;
	border-left: 1px solid #ddd
}

/* 좋아요, 시간, 공유 style */
.lst_recipe .option div a {
	box-sizing: border-box;
	float: left;
	white-space: nowrap;
	padding: 5px 10px
}

.lst_recipe .option>div:hover {background-color: rgb(249, 196, 94);	text-decoration: none; color:rgb(64, 60, 60);}
.lst_recipe .option .time a {
	display: block;
	overflow: hidden;
	background:
		url(${pageContext.request.contextPath}/resources/images/clock.png)
		9px 50% no-repeat;
	width: 81px;
	color: #999;
	padding: 7px 10px 0\0;
	background-position: 9px 5px\0;
}
.center_div{width: 80%;margin-left: 10%;}
.box_div {width: 80%;margin: 30px 0 0 10em;}
.search_div {height: 130px;margin: 40px 0 60px 0px;}
icon_img {display: inline;}
.lst_recipe .option .time a:hover {text-decoration: none; color:rgb(64, 60, 60);}

.lst_recipe .option .like {
	position: relative;
	background:
		url(/assets/_img/main/ico_like-5573a0491a530fb43b401aefd107c6007ac700dbf36cf672f69de625c2061fc5.png)
		9px center no-repeat
}

.lst_recipe .option .like button {
	height: 27px;
	text-align: right;
	background-color: transparent;
	border: none;
	color: #999;
	box-sizing: border-box;
	line-height: 25px;
	line-height: 32px\0
}
.lst_recipe .option .like button:hover {color:rgb(64, 60, 60);}
/* .lst_recipe .option .like button:hover {background-color:rgb(249, 196, 94);color:rgb(64, 60, 60);} */

.lst_recipe .option .like.on, .lst_recipe .option .like:hover {background-color: rgb(249, 196, 94);color:rgb(64, 60, 60);font-weight: bold;}
.lst_recipe .option .share a {
	display: block;
	overflow: hidden;
	color: #999;
	background:
		url(/assets/_img/main/ico_share-dc9c86a7b9d44be15cce005dc93ffccd98b4dedb3f993dc0feedb5a751273399.png)
		7px 50% no-repeat;
	width: 100%;
	padding: 7px 5px 0 0\0
}
.lst_recipe .option .share a:hover {text-decoration: none;color:rgb(64, 60, 60);}
.lst_story.cool_recipes {
	margin-bottom: 0;
	padding-bottom: 59px
}

.lst_recipe.cool_recipes {
	margin-bottom: 0;
}


